<p><img src="46oldscoupe_lavendel.jpg" alt="" title="" />
<img src="49motorola_Lavendel.jpg" alt="" title="" /> <br />
<img src="54ibmelectric_Typwriter.jpg" alt="" title="" />
<img src="517248803_5785668148_z_lavendel.jpg" alt="" title="" /> <br />
<img src="bell-telephone-system1_lavendel.jpg" alt="" title="" /></p>
